.lobby-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #1b1b1b;
  color: #e5e5e5;
}

.p-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.p-col-4,
.p-col-12 {
  flex: 1;
  display: flex;
  align-items: stretch;
  max-width: 400px;
  min-width: 300px;
}

p-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #333;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  min-height: 420px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

p-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
}

.card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.card-image:hover {
  transform: scale(1.03);
}

h3 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #ff5722;
}

p {
  flex-grow: 1;
  font-size: 1em;
  margin: 10px 0;
  line-height: 1.6;
  padding: 0 10px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #e14a1a;
  transform: scale(1.05);
}

button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 87, 34, 0.7);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .p-grid {
    flex-direction: column;
    align-items: center;
  }

  p-card {
    min-height: 420px;
    width: 100%;
    margin-bottom: 15px;
  }
}

/* Estilo del globo de texto */
.bubble-text {
  position: absolute;
  bottom: 120px; /* Ajustar según sea necesario */
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  background-color: rgba(255, 87, 34, 0.9); /* Color y opacidad del globo */
  color: #1b1b1b;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-size: 0.9em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  opacity: 0; /* Oculto inicialmente */
  transition: opacity 0.3s ease;
  pointer-events: none;
}

/* Triángulo del globo de texto */
.bubble-text::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(255, 87, 34, 0.9);
}

.card-container {
  position: relative;
  text-align: center;
}

.card-container:hover .bubble-text {
  opacity: 1; /* Mostrar el globo al pasar el ratón por encima */
}
